header {background-color: #fe0000;
    width: 100%;
    height: 75px;
}

nav {background-color: #007fff;
    width: 100%;
    height: 25px;
}

section {background-color: #fec65f;
    float: left;
    width: 65%;
    height: 400px;
    
}

aside {background-color: #fe80fe;
    float: right;
    width: 30%;
    height: 400px;
}

footer {background-color: #80ff00;
    clear:both;
    width: 100%;
    height: 25px;
}
